<div class="col_one_fifth col_last nobottommargin">
  <a href="#" title="Brand Logo" class="hidden-xs">
    <img class="image_fade" src="/images/ederpesca/calidadederpesca2.jpg" alt="Brand Logo">
  </a>

  <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

  <div class="feature-box fbox-plain fbox-dark fbox-small">
    <div class="fbox-icon">
      <i class="icon-thumbs-up2"></i>
    </div>
    <h3>Envasado </h3>
    <p class="notopmargin">Garantizamos al 100% la calidad de nuestros productos.</p>
  </div>

  <div class="feature-box fbox-plain fbox-dark fbox-small">
    <div class="fbox-icon">
      <i class="icon-credit-cards"></i>
    </div>
    <h3>Opciones de pago</h3>
    <p class="notopmargin">Aceptamos Tarjeta y PayPal.</p>
  </div>

  <div class="feature-box fbox-plain fbox-dark fbox-small">
    <div class="fbox-icon">
      <i class="icon-truck2"></i>
    </div>
    <h3>Portes gratuitos</h3>
    <p class="notopmargin">A partir de 4kgr.</p>
  </div>

  <div class="feature-box fbox-plain fbox-dark fbox-small">
    <div class="fbox-icon">
      <i class="icon-undo"></i>
    </div>
    <h3>Envíos rápidos</h3>
    <p class="notopmargin">Máximo 48h-72h</p>
  </div>

</div>
