<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
     ============================================= -->
<script type="text/javascript" src="/js/functions.js"></script>

<div data-sticky="true" data-embed_type="cart" data-shop="eder-pesca.myshopify.com" data-button_background_color="007abd"></div>
<script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
