<address>
  <strong>Oficinas centrales:</strong><br>
  {{ site.dir}}<br>
  {{ site.cp}} - {{ site.city }}, {{ site.provincia }}<br>
</address>
<abbr title="Phone Number"><strong>Teféfono:</strong></abbr> {{ site.phone }}<br>
<abbr title="Email Address"><strong>Email:</strong></abbr> {{ site.email }}

<div class="widget noborder notoppadding"></div>

<div class="widget noborder notoppadding">
  <a href="https://www.facebook.com/{{ site.facebook.app_id }}" class="social-icon si-small si-dark si-facebook">
    <i class="icon-facebook"></i>
    <i class="icon-facebook"></i>
  </a>
</div>
