<div class="entry clearfix">
  <div class="entry-title">
    <h2><a href="{{ articulo.url }}">{{ articulo.title }}</a></h2>
  </div>

  <ul class="entry-meta clearfix">
    <li><i class="icon-calendar3"></i> {{ articulo.date | date_to_string }}</li>
    <li><a href="{{ articulo.fuente['url'] }}"><i class="icon-user"></i> {{ articulo.fuente['texto'] }}</a></li>
  </ul>
  <div class="entry-content">
    <p>{{ articulo.resumen }}</p>
    <a href="{{ articulo.url }}" class="more-link">{{ site.data.textos[page.lang]['seguir-leyendo'] }}</a>
  </div>
</div>
