<div class="entry clearfix">
  <div class="entry-image">
    <a href="{{ articulo.image_path }}" data-lightbox="image">
      <img src="{{ articulo.image_path }}" alt="{{ articulo.title }}" />
    </a>
  </div>

  <div class="entry-title">
    <h2><a href="{{ articulo.url }}">{{ articulo.title }}</a></h2>
  </div>

  <ul class="entry-meta clearfix">
    <li><a href="{{ articulo.fuente['url'] }}"><i class="icon-calendar3"></i> {{ articulo.fuente['texto'] }}</a></li>
  </ul>
  <div class="entry-content">
    <p>{{ articulo.resumen }}</p>
    <a href="{{ articulo.url }}" class="more-link">{{ site.data.textos[page.lang]['seguir-leyendo'] }}</a>
  </div>
</div>
