.dark #footer .social-icon.si-borderless,
#footer.dark .social-icon.si-borderless {
	color: blue !important;
}

#footer.dark,
.dark #footer {
    background-color: #007abd;
	color: white;
	border-top-style:none;
	background-image:url(../images/ederpesca/patron.png);
	background-repeat:repeat-x;
}

.dark .widget p { opacity: 1; }

.dark,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 { color: white; }

.widget .counter + h5 { opacity: 1; }

.dark .form-control:not(.not-dark),
.dark .sm-form-control:not(.not-dark) {
	color: white;
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0.25);
}

.dark .input-group-addon,
.dark .input-group-btn .btn-default {
	color: white;
	background-color: rgba(0,0,0,0.35);
	border-color: rgba(0,0,0,0.25);
}

.promo a.button:hover {
	background-color: #666;
	border-color: #FFF;
	color: white;
	text-shadow: none;
}

.slider-caption,
.nivo-caption,
.flex-caption {
	font-size: 38px;
	font-family: 'Lobster', cursive;
}

.slider-caption-bg {
		background-color: rgba(0,102,204, 0.6);
}

[type="email"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
::-webkit-input-placeholder { color: white; }
:-moz-placeholder,
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
:placeholder-shown { color: white; }

.oculto {
  visibility:hidden;
}

.feature-box.fbox-center h3::after {
  border-top: none !important;
}

.fbox-media {
	border: solid 6px #999;
}
.product-price {
	margin-top: 0.5em;
	color: #C33;
}

.allmargin-xs { margin: 12px !important; }

.leftmargin-xs { margin-left: 12px !important; }

.rightmargin-xs { margin-right: 12px !important; }

.topmargin-xs { margin-top: 12px !important; }

.bottommargin-xs { margin-bottom: 12px !important; }
